// Place all the styles related to the api::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







.i-movie-poster{
  background: rgba(204, 73, 73, 1);
    background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/v1519441404/ssawe.svg');
    background-repeat:no-repeat;

    // background-repeat:repeat;
    background-position: center;

    background-size: 100%;
    height:400px;
    object-fit: cover;
    width:250px;
    align-self: center;
}

#i-movie-title{
  border-top: 1px white solid;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: medium;
  font-weight: bold;
  width: 250px;
  align-self: center;
  color: #cc4949;
  word-break: break-all;
  text-transform: uppercase;
}

#i-movie-item{
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  // padding: 20px;
  // width: 33.33%;
  margin: 20px;
}

.hidden-bar{
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  // padding: 2px 5px;
  background: rgba(204, 73, 73, 1);
  display: flex;
  flex-direction: row;
  visibility: hidden;
  width: 100%;
  height: 25px;
  padding: 2px 5px;
}


#i-movie-item:hover #i-movie-title{
  background: #cc4949;
  color: white;

}


#i-movie-item:hover .hidden-bar, #ii-movie-item:hover #s-bar{
  background: rgba(204, 73, 73, 1);
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  box-sizing: border-box;
}




#watch:hover{
  cursor: pointer;
}



.bar{
  height: 25px;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.7);
  background: rgba(204, 73, 73, 1);
  border-bottom: 1px white solid;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 5px;
  height: 25px;
  justify-content: space-between;
}

#s-bar{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 25px;
  visibility: hidden;
  border: none;
  box-sizing: border-box;
}




.syr-input, .search-input, .yr-input{
  height: 35px;
  box-sizing: border-box;
}



.yr-input{
  height: 25px;
}

.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  // width: 100px;
  min-width: 100px;
  background: #cc4949;
  color: white;

  height: 30px;
  height: 35px;
  margin: 0 10px 0 0;
}

#star-search{
  background: rgba(204, 73, 73, 0.6);
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  justify-content: space-around;
}




.release{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.release-holder{
  min-height: 30px;
  margin-bottom: 15px;
  background-color: white;
  width: 80%;
}

.y-rating{
  text-transform: uppercase;
  display: flex;
  font-size: small;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 5px;
  color: white;
}

.index-container-layer{
  display: flex;
  flex-direction: column;
  // width: 900px;
  align-self: center;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

#search-holder{
  border: 1px rgba(204, 73, 73, 0.6) solid;
  box-sizing: border-box;
  padding: 10px;
  align-self: center;
  margin: 20px 0;
  max-width: 650px;
}

.index-holder{
  width: 90%;
  margin: 20px 0;
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  // max-width: 1200px;
  // max-width: 1000px;
  align-self: center;
  // justify-content: space-around;

}


@media screen and (max-width: 500px) {

  .index-container-layer{
    padding: 10px;

  }




}

@media screen and (max-width: 799px) {

  #rp-align{
    margin: 20px;
  }


  .index-container-layer{
    padding: 30px;
  }

  .index-holder{
    justify-content: center;
    width: 100%;
  }

  #left-search, #right-search{
    width: 90%;
    margin: 5px 10px;

    // min-width: 350px;
  }

  #search-holder{
    width: 100%;
    width: 60%;
    min-width: 340px;
  }

  #search-row{
    flex-direction: column;
    // margin: 10px;
  }

  .syr-input, .yr-input{
    width: 50px;
    margin: 0 5px;
  }


}

@media screen and (max-width: 700px){


  .index-holder{
    width: 100%;
    margin: 20px 0;
    // width: 900px;
    justify-content: center;
  }

  .index-holder:after{
   content: "";
   flex: 0 1 40%;
  }
}




@media screen and (min-width: 800px) {

  .index-container-layer{
    padding: 30px;

  }

  #search-holder{
    min-width: 650px;
    width: 650px;
  }

  #search-row{
    flex-direction: row;
    align-items: center;
    margin: 10px;

  }

  #left-search{
    width: 60%;
    margin: 0 10px;
    min-width: 350px;
  }

  .syr-input, .yr-input{
    width: 70px;
    margin: 0 5px;
  }

  .index-holder{
    width: 90%;
    margin: 20px 0;
    max-width: 900px;
    // width: 900px;
    justify-content: space-between;

  }

  .syr-input, .yr-input{
    width: 70px;
    margin: 0 5px;
  }

  .index-holder:after{
   content: "";
   flex: 0 1 30%;
  }


}
