// Place all the styles related to the api::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container-layer{
  display: flex;
  flex-direction: column;
  // width: 900px;
  align-self: center;
  box-sizing: border-box;
  padding: 50px;
  flex-grow: 1;
  width: 100%;
}

.index-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 90%;
  max-width: 1200px;
  max-width: 1000px;
  align-self: center;
  justify-content: space-between;
  // justify-content: space-around;

}

.i-movie-poster{
  background: rgba(204, 73, 73, 1);
    background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/v1519441404/ssawe.svg');
    background-repeat:no-repeat;

    // background-repeat:repeat;
    background-position: center;

    background-size: 100%;
    height:400px;
    object-fit: cover;
    width:250px;
    align-self: center;
}

#i-movie-title{
  border-top: 1px white solid;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: medium;
  font-weight: bold;
  width: 250px;
  align-self: center;
  color: #cc4949;
  word-break: break-all;
  text-transform: uppercase;
}

#i-movie-item{
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  // padding: 20px;
  // width: 33.33%;
  margin: 20px;
}

.hidden-bar{
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  // padding: 2px 5px;
  background: rgba(204, 73, 73, 1);
  display: flex;
  flex-direction: row;
  visibility: hidden;
  width: 100%;
  height: 25px;
  padding: 2px 5px;
}


#i-movie-item:hover #i-movie-title{
  background: #cc4949;
  color: white;

}


#i-movie-item:hover .hidden-bar{
  background: rgba(204, 73, 73, 1);
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  box-sizing: border-box;
}




#watch:hover{
  cursor: pointer;
}



.bar{
  height: 25px;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.7);
  background: rgba(204, 73, 73, 1);
  border-bottom: 1px white solid;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 5px;
  height: 25px;
  justify-content: space-between;
}

#s-bar{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 25px;
  visibility: hidden;
  border: none;
  box-sizing: border-box;
}
